.container {
    position: relative;
    max-height: 80px;
    overflow: hidden;
    border-bottom: 1px rgb(247, 247, 247) solid;

    .avatarHolder {
        position: relative;

        .newMessages {
            position: absolute;
            bottom: 0;
            right: 0;

            display: flex;
            justify-content: center;

            align-items: center;
            width: 20px;
            height: 20px;

            font-size: 9px;
            font-weight: 600;
            color: white;

            border: 2px solid #fff;
            border-radius: 50%;
            background: rgb(224, 97, 97);
        }
    }
    .nameHolder {
        display: flex;
        justify-content: space-between;

        .name {
            color: rgb(24, 24, 24);
            font-size: 14px;
            transition: none;
            white-space: nowrap; /* Запретить перенос текста на новую строку */
            overflow: hidden; /* Скрыть содержимое, которое выходит за пределы блока */
            text-overflow: ellipsis; /* Добавить многоточие в конце текста, если он выходит за рамки блока */
            max-width: 60%; /* Ограничить максимальную ширину, если необходимо */
        }
        .dateAndTime {
            font-size: 11px;
            font-weight: 500;
            opacity: 0.6;
        }
    }
    .descriptionHolder {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .description {
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 90%;
            flex: 1;
        }

        .messengerIcon {
            opacity: 0.5;
            width: 16px;
            height: 16px;
            bottom: 5px;
            right: 5px;
            border-radius: 4px;
        }
    }

    .item {
        position: relative;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            background-color: #e1e8ec;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            align-items: flex-end;
            align-self: flex-end;
            align-content: space-between;

            .newMessages {
                display: flex;
                justify-content: center;

                align-items: center;
                margin-bottom: 10px;
                width: 16px;
                height: 16px;

                font-size: 9px;
                font-weight: 600;
                color: white;

                border-radius: 50%;
                background: rgb(121, 168, 255);
            }
        }
        .onlineIcon {
            position: absolute;
            left: 35px;
            bottom: 30%;

            width: 10px;
            height: 10px;

            border-radius: 50%;
            background: greenyellow;
        }
    }
    .checked {
        background: #e1e8ec;

        &::after {
            content: ' ';
            position: absolute;
            background-color: #6aa6ff;
            width: 3px;
            height: 100%;
            left: 0;
        }
    }
    .deleteBtn {
        display: flex;
        position: absolute;
        justify-content: center;

        right: -10px;
        top: 0;
        height: 100%;
        width: 18px;

        background: rgb(255, 65, 65);
        color: white;
        opacity: 0.2;
        transition: all 0.2s ease-in-out;
        &:hover {
            border-radius: 8px 0 0 8px;
            opacity: 1;
            width: 25px;
            right: 0;
        }
    }
}
