.stageHolder {
    display: flex;
    flex-direction: column;

    padding: 0 10px;
    min-width: 280px;
    max-width: 280px;

    .header {
        height: 5px;

        margin-bottom: 4px;
    }
    .titleAndCount {
        display: flex;
        align-items: end;

        .title {
            font-size: 14px;
            margin-right: 4px;
        }
        .count {
            font-size: 12px;
        }
    }
}
