.client {
    background: rgba(232, 248, 210, 0.911);
    margin-right: auto;
}
.manager {
    background: rgba(240, 240, 240, 0.911);
    margin-left: auto;
}
.messageShape {
    display: flex;
    padding: 12px 12px;
    margin-top: 15px;
    border-radius: 15px;
    max-width: 80%;

    .message {
        .name {
            font-weight: 700;
            font-size: 10px;
            margin-bottom: 2px;
        }
        .text {
            margin-right: 10px;
            font-size: 13px;
        }
    }
    .time {
        display: flex;
        align-self: flex-end;
        font-size: 10px;

        span {
            margin-right: 4px;
            font-style: italic;
        }
        .isreaded {
            display: flex;
            position: relative;
            .doneIcon {
                position: absolute;
                left: 4px;
            }
        }
    }
}
